body {
    background-color: skyblue;
}

nav {
    text-transform: uppercase;
    font-family: "BAZOOKA";
}

.nav-item {
    background-color: blue;
}

.nav-link:hover {
    opacity: 1.0;
    background-color: red;
}

header {
    background-size: cover;
    background-image: url(https://www.wikihow.com/images/thumb/6/6a/Customize-Clothes-Step-1.jpg/aid9746772-v4-728px-Customize-Clothes-Step-1.jpg);
    width: 500px;
    height: 1000px;
}

.accessories img {
    height: 50px;
    width: 200px;
}
