body {
    background-color:white;
}

.nav-item {
    background-color:black;
    color: pink;
}

h2 {
    text-align: center;
}

.navbar {
    background-color:black;
}

.navbar-toggler-icon {
    background-color:white;

}

.nav-link:hover {
    opacity: 1.0;
    background-color:black;
}

.nav-link {
    color: skyblue;
}

#image {
    height: 100px;
    width: 100px;
    border-radius:50%;
}

.image {
    height: 10px;
}

header {
    background-size: cover;
    background-image: url(https://www.wikihow.com/images/thumb/6/6a/Customize-Clothes-Step-1.jpg/aid9746772-v4-728px-Customize-Clothes-Step-1.jpg);
    width: 100px;
    height: 100px;
}

.accessories img {
    text-align: center;
box-shadow: 0 0 30px 2px #888888;
}

h5 {
    color: black;
    text-align: left;
}

p {
    text-align: left;
    color: black;
}

.accessories i {
    text-align: left;
    padding: 17px;
    background-color: #686868;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.clearance img {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 30px 2px #888888;
}

h1 {
    text-align: center;
}

.button {
    color: white;
}

.footer {
    font-size: medium;
    color: black;
}

#logo {
    height: 150px;
    width: 150px;
    
}

.team img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team p{
    text-align: center;
} 

#clothes button{
    justify-content:center;
}


#clothes2 button{
    margin-right:87px;
}

#blackclothes{
    text-align: center;
}

#clothes{
    text-align:center;
}

#accessories button{
    background-color: black;
    
}
    


